<div class="row" *ngIf="_mode">
  <div class="col-lg-12">
    <div class="card card-outline-inverse">
      <div class="card-header">
        <h4 class="m-b-0 text-white" *ngIf="_mode == 'create'">Crear Nueva Categoría de Productos</h4>
        <h4 class="m-b-0 text-white" *ngIf="_mode == 'update'">Actualizar Categoría de Productos</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="forma" (ngSubmit)="guardarDatos()">
          <div class="form-body">
            <div class="row p-t-20">
              <div class="col-md-12">

                <div class="form-group" [class.has-danger]="forma.controls['tab_categoria_nombre'].errors?.pattern">
                  <label class="control-label">Nombre de Categoría
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" class="form-control" placeholder="Ingrese el nombre de la categoria..." formControlName="tab_categoria_nombre"
                    [(ngModel)]="_categoria.tab_categoria_nombre" (ngModelChange)="_categoria.tab_categoria_nombre = $event.toLocaleUpperCase()"/>
                  <small class="form-control-feedback" *ngIf="forma.controls['tab_categoria_nombre'].errors?.required"> Campo requerido</small>
                  <small class="form-control-feedback text-danger" *ngIf="forma.controls['tab_categoria_nombre'].errors?.pattern"> El nombre de la categoría sólo permite letras, espacios y una longitud mínima de 3 caracteres.</small>
                </div>

                <div class="form-group" [class.has-danger]="forma.controls['tab_categoria_descripcion'].errors?.pattern">
                  <label class="control-label">Descripción
                    <span class="text-danger">*</span>
                  </label>
                  <input type="text" class="form-control" placeholder="Ingrese el nombre de la categoria..." formControlName="tab_categoria_descripcion"
                    [(ngModel)]="_categoria.tab_categoria_descripcion" (ngModelChange)="_categoria.tab_categoria_descripcion = $event.toLocaleUpperCase()"/>
                  <small class="form-control-feedback" *ngIf="forma.controls['tab_categoria_descripcion'].errors?.required"> Campo requerido</small>
                  <small class="form-control-feedback text-danger" *ngIf="forma.controls['tab_categoria_descripcion'].errors?.pattern"> La descripcion de la categoría sólo permite letras, números, espacios y una longitud mínima de 3 caracteres.</small>
                </div>

                <div class="form-group">
                  <label class="control-label">Estado</label>
                  <select [(ngModel)]="_categoria.tab_categoria_status" formControlName="tab_categoria_status"
                   class="form-control">
                    <option  value="1">Activo</option>
                    <option  value="0">Inactivo</option>
                  </select>
                </div>

              </div>
            </div>
          </div>
          <div class="form-actions">
            <!-- <button type="submit" class="btn btn-success" [disabled]="!_form.valid || _submitted == true"> -->
            <button type="submit" class="btn btn-success" [disabled]="!forma.valid || _submitted == true">
              <i class="fa fa-check"></i> Guardar</button>
            <button type="button" class="btn btn-inverse" [routerLink]="['/categoria']">
              <i class="fa  fa-arrow-left"></i> Regresar a la lista</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>