<div class="animated fadeIn" *ngIf="_mode">
  <div class="col-sm-12">

    <div class="card card-outline-inverse">
      <div class="card-header">
        <h4 class="m-b-0 text-white" *ngIf="_mode == 'create'">Crear Nuevo Usuario</h4>
        <h4 class="m-b-0 text-white" *ngIf="_mode == 'update'">Actualizar Usuario</h4>
      </div>
      <div class="card-body">

        <form [formGroup]="_form" (ngSubmit)="onSubmit()">
          <div class="card-block">
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{'has-danger': !_isValid('username')}">
                <label class="col-sm-12" for="username">Username
                  <span class="required">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="username" placeholder="Ingrese el nombre de usuario" [formControl]="_form.controls['username']"
                    [ngClass]="{'form-control-danger': !_isValid('username')}" [(ngModel)]="_staff.username" />
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.username.valid">
                  <span class="help-block help-block-error">{{_formErrors.username.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* El nombre de usuario solo permite caracteres alfanuméricos, guiones bajos y paneles entre 3 y 15 caracteres.
                    es decir, ejemplousername</p>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{'has-danger': !_isValid('email')}">
                <label class="col-sm-12" for="email">Email
                  <span class="required">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Ingrese el correo electrónico del usuario" [formControl]="_form.controls['email']"
                    [ngClass]="{'form-control-danger': !_isValid('email')}" [(ngModel)]="_staff.email" />
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.email.valid">
                  <span class="help-block help-block-error">{{_formErrors.email.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* El correo electrónico debe ser una dirección de correo electrónico válida. es decir, ejemplo@dominio.com.</p>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{'has-danger': !_isValid('password')}">
                <label class="col-sm-12" for="password">Contraseña</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="password" placeholder="Ingrese la contraseña del usuario" [formControl]="_form.controls['password']"
                    [ngClass]="{'form-control-danger': !_isValid('password')}" [(ngModel)]="_staff.password" />
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.password.valid">
                  <span class="help-block help-block-error">{{_formErrors.password.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* La contraseña debe tener más de 6 caracteres.</p>
                </div>
              </div>

            </div>
            <div class="form-group-wrapper" *ngIf="_mode == 'update'">
              <div class="form-group row">
                <label class="col-sm-12">Ultimo Login</label>
                <div class="col-sm-3">
                  <span *ngIf="_staff.last_login_ip == null" class="help-text">Nunca ha iniciado sesión</span>
                  <p *ngIf="_staff.last_login_ip != null" class="help-text">{{_staff.last_login_ip}}
                    <br />({{_staff.last_login_at}})</p>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{'has-danger': !_isValid('confirmed_at')}">
                <label class="col-sm-12" for="confirmed_at">Confirmado en (Y-M-D H:M)</label>
                <div class="col-xs-12 col-sm-5">

                  <!-- 2018-08-03 03:45:00 -->
                  <!-- <timepicker id="confirmed_at" [placeholderText]="'Click to set the date and time for confirming the staff'" [dateTime]="_staff.confirmed_at | amDateFormat: 'YYYY-MM-DD HH:mm'"
                    [dateTimeFormat]="'YYYY-MM-DD HH:mm'" [clearLabel]="'Clear'" 
                    [confirmLabel]="'Confirm'" (onChangedDateTime)="onChangeDateTime('confirmed_at', $event)"></timepicker> -->
                  <p>{{_staff.confirmed_at}}</p>
                  <input type="date" name="confirmed_at" id="confirmed_at" (change)="valuechange('confirmed_at',$event)" value="{{_staff.confirmed_at}}">

                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.confirmed_at.valid">
                  <span class="help-block help-block-error">{{_formErrors.confirmed_at.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* Confirmado en el campo indica que el personal ha sido confirmado. Si está vacío, el personal no puede
                    iniciar sesión en el sistema ya que la cuenta no está confirmada. El valor debe ser un formato válido-
                    Y/M/D H:M:S. i.e. 2017-01-01 12:00
                  </p>
                </div>
              </div>

            </div>
            <!-- <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{'has-danger': !_isValid('blocked_at')}">
                <label class="col-sm-12" for="blocked_at">Blocqueado en (Y-M-D H:M)</label>
                <div class="col-xs-12 col-sm-5">
                  <p>{{_staff.blocked_at}}</p>
                  
                  <input type="date" name="blocked_at" id="blocked_at" (change)="valuechange('blocked_at',$event)">
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-12" *ngIf="!_formErrors.blocked_at.valid">
                  <span class="help-block help-block-error">{{_formErrors.blocked_at.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* Bloqueado en el campo indica que el personal ha sido bloqueado. Si no está vacío, el personal no puede
                    iniciar sesión en el sistema ya que la cuenta está bloqueada. El valor debe ser un formato válido - Y/M/D
                    H:M:S. i.e. 2017-01-01 12:00</p>
                </div>
              </div>

            </div> -->
            <div class="form-group-wrapper">
              <div class="form-group row">
                <label class="col-sm-12" for="role">Rol
                  <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                  <select class="form-control" id="role" [formControl]="_form.controls['role']" [ngClass]="{'form-control-danger': !_isValid('role')}"
                    [(ngModel)]="_staff.role">
                    <option *ngFor="let roleType of _roleTypes" [value]="roleType.value" [selected]="">{{roleType.label}}</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.role.valid">
                  <span class="help-block help-block-error">{{_formErrors.role.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* El campo de roles está configurando cuál es el rol del usuario.</p>
                </div>
              </div>
            </div>
            <!-- Only if role is staff -->
            <div class="form-group-wrapper" *ngIf="_staff.role == 50">
              <div class="form-group row">
                <label class="col-sm-12">Permisos</label>
                <div class="col-sm-6">
                  <div class="card hiddend" >
                    <div class="card-block">
                      <div class="checkbox" *ngFor="let permission of _staff.permissions; let i = index">
                        <label for="permission_{{permission.name}}">
                          <input type="checkbox" id="permission_{{permission.name}}" [formControl]="_form.controls['permissions']" name="permissions[]"
                            [(value)]="_staff.permissions[i].checked" [checked]="permission.checked" (change)="_staff.permissions[i].checked = $event.target.checked"
                          /> {{permission.description}}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group-wrapper">
              <div class="form-group row">
                <label class="col-sm-12" for="status">Estado
                  <span class="required">*</span>
                </label>
                <div class="col-sm-6">
                  <select class="form-control" id="status" [formControl]="_form.controls['status']" [ngClass]="{'form-control-danger': !_isValid('status')}"
                    [(ngModel)]="_staff.status">
                    <option *ngFor="let statusType of _statusTypes" [value]="statusType.value" [selected]="">{{statusType.label}}</option>
                  </select>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12" *ngIf="!_formErrors.status.valid">
                  <span class="help-block help-block-error">{{_formErrors.status.message}}</span>
                </div>
                <div class="col-sm-12">
                  <p class="help-text">* Seleccione un estado.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <!-- <button type="submit" class="btn btn-success" [disabled]="!_form.valid || _submitted == true"> -->
            <button type="submit" class="btn btn-success" [disabled]="!_form.valid || _submitted == true">
              <i class="fa fa-check"></i> Guardar</button>
            <button type="button" class="btn btn-inverse" [routerLink]="['/user/admin']">
              <i class="fa  fa-arrow-left"></i> Regresar a la lista</button>
          </div>
          <!-- <div class="card-footer">
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-sm btn-primary" [disabled]="!_form.valid || _submitted == true">
                  <i class="fa fa-dot-circle-o"></i> Save</button>
                <div *ngIf="_submitted" class="spinner"></div>
              </div>
              <div class="col-sm-6 text-right">
                <a [routerLink]="['/staff']" class="btn btn-sm btn-warning">
                  <i class="fa fa-arrow-left"></i> Back to list</a>
              </div>
              <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                <div class="alert alert-danger">{{_errorMessage}}</div>
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>

  </div>
</div>
